<h1>New Institute</h1>

<%= render "form.html", changeset: @changeset,
                        action: institute_path(@conn, :create) %>


<span><%= link "Back to Ranking", to: institute_path(@conn, :index) %></span>
